<!DOCTYPE html>
<html>
  <title> Results </title>
  <style>
    html{
      margin: 30px;
      font-family: times new roman;
    }
    body{
      font-size: 13pt;
    }
    .search{
      font-style: italic;
      text-align: center;
    }
    table{
      background-color: rgb(215,215,215);
	  border: 2px ridge white;
	  border-collapse: collapse;
	  margin: auto;
    }
  </style>
  
  <script>
    function back(){
      setTimeout("window.history.back();", 5000)
    }
  </script>

<header>
  <h1>Pokemon Database</h1>
  <h3> Searching The Database: Results </h3>
</header>

<body>
{% if (results|length) == 0 %}
  <p align = "center" text = "20px">
  NO RESULTS FOUND<br><br>
  You will be sent back in 5 seconds.</p>
  <script>back()</script>
    
{% else %}
  <table>
  {% for one in results %}
    <tr><td>{{one}}</tr></td>
  {% endfor %}
  </table>
{% endif %}

  <div class = "search">
    <p><a href="/">Back to Simple Search</a></p>
    <p><a href="/advanced/">Back to Advanced Search</a></p>
  </div>
</body>

</html>