<!DOCTYPE html>
<html>
  <title> Search Error: {{results[0]}} </title>
  <style>
    html{
      background-image: url("/static/pokebackground.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      margin: auto;
      font-family: times;
      font-size: 20pt;
    }
    body{text-align: center; vertical-align: middle;}
    .search{
      font-style: italic;
      text-align: center;
    }
  </style>

  <body>
  {% if results[0] == 404 %}
      <h1> The URL doesn't seem right - <br>
      You will be sent to the main page in 10 seconds. </h1>
      <h3> Enjoy this gif in that time! </h3>
      <img src="http://media2.giphy.com/media/Pok6284jGzyGA/giphy.gif" alt="sad pikachu gif" style="width: 50%;height:50%;">
      <script> setTimeout("location.replace('http://localhost:8111/');", 10000) </script>
  {% elif results[0] == 405 %}
      <h1> Looks like this is the website's fault - sorry! <br>
      You will be sent to the main page in 10 seconds. </h1>
      <h3> Enjoy this gif in that time! </h3>
      <img src="http://media2.giphy.com/media/Pok6284jGzyGA/giphy.gif" alt="sad pikachu gif" style="width: 50%;height:50%;">
      <script> setTimeout("location.replace('http://localhost:8111/');", 10000) </script>
  {% elif results[0] == 408 %}
      <h1> Your results took too long to get - sorry, try again later!<br>
      You will be sent to the main page in 10 seconds. </h1>
      <h3> Enjoy this gif in that time! </h3>
      <img src="http://media2.giphy.com/media/Pok6284jGzyGA/giphy.gif" alt="sad pikachu gif" style="width: 50%;height:50%;">
      <script> setTimeout("location.replace('http://localhost:8111/');", 10000) </script>
  {% endif %} 

  
  </body>
</html>
