<!DOCTYPE html>
<html>
  <title> Search Error: {{results[0]}} </title>
  <style>
    html{
      width: 75%;
      margin: auto;
      font-family: times;
      font-size: 20pt;
    }
    h3{align: center;}
  </style>

  <body>
  {% if results[0] == 500 %}
      <h1> 500 Error: Your input was incorrect.<br>
	you will be sent to the main page in 5 seconds.</h1>
  {% elif results[0] == 404 %}
      <h1> 404 Error: The URL is incorrect. <br>
	you will be sent to the main page in 5 seconds.</h1>
  {% elif results[0] == 405 %}
      <h1> 405 Error: Issues with methods. <br>
	you will be sent to the main page in 5 seconds.</h1>
  {% endif %}
  
  <script> setTimeout("location.replace('http://localhost:8111/');", 5000) </script>
  
  </body>
</html>
