<!DOCTYPE html>
<html>
	<title> Pokemon Search </title>
	<style>
	html{
		margin: 30px;
		font-family: times;
	}
	body{
		font-size: 15px;
	}
	</style>

	<script>
	function toggle_sa() {
		var s = document.getElementById("simple");
		var a = document.getElementById("advanced");
		s.style.display = 'none';
		a.style.display = 'block';
	}
   	function toggle_as() {
		var s = document.getElementById("simple");
           var a = document.getElementById("advanced");
		s.style.display = 'block';
        		a.style.display = 'none';
	}
	</script>

	<body onload = "{{opts[0]}}">
	<h1> Pokemon Database </h1>
	<div id = "simple">
	<h3> Simple Search </h3>
	<button onclick = "toggle_sa()"> Advanced Search </button>
	<p> 
	<form method = "POST" action = "/simple/find/">
	<b>What are you looking for?</b> <br><br>
	<select name = "entity">
    {% for opt in opts[1]%}
		 <option value = "{{opt}}">
        {% if '_' in opt %}{{(opt|replace('_',' '))|title}}
        {% else %}{{opt|title}}
        {% endif %}
        </option>
    {% endfor %}
	</select>
	<input type = "search" name = "name" placeholder = "Search...">
	<input type = "submit" value = "Find">
	</form>
	</p>
	</div>

	<div id = "advanced">
	<h3> Advanced Search </h3>
	<button onclick = "toggle_as()"> Simple Search </button>
	<p> 
	<form method = "POST" action = "/advanced/find/">
	<b>What are you looking for?</b> <br><br>
	<select name = "entity">
    {% for opt in opts[1]%}
		 <option value = "{{opt}}">
        {% if '_' in opt %}{{(opt|replace('_',' '))|title}}
        {% else %}{{opt|title}}
        {% endif %}
        </option>
    {% endfor %}
	</select>
	<br><br>
	<select name = "relations">
    {% for opt in opts[2]%}
		 <option value = "{{opt}}">
        {% if '_' in opt %}{{(opt|replace('_',' '))|title}}
        {% else %}{{opt|title}}
        {% endif %}
        </option>
    {% endfor %}
	</select>
    <input type = "search" name = "want" placeholder = "Search...">
    <input type = "submit" value = "Find">
	</form>
	</p>
	</div>

	</body>

</html>