<!DOCTYPE html>
<html>
    <title> Pokemon Search </title>
    <style>
    html{
      width: 50%;
      margin: auto;
      font-family: times;
    }
    body{
        font-size: 15px;
    }
    .search{
      width: 50%;
    }
    </style>

    <script>
    function toggle_sa() {
        document.getElementById("simple").style.display = 'none';
        document.getElementById("advanced").style.display = 'block';
    }
       function toggle_as() {
        document.getElementById("simple").style.display = 'block';
       document.getElementById("advanced").style.display = 'none';
    }
    function add(){
      var ent = document.getElementById("adv_ent").value;
      var swap = document.getElementById("requests");
      var num_req = swap.getElementsByTagName("div").length + 1;
      {% for each in opts[2] %}
        if ("{{each}}" == ent) {
          swap.innerHTML = swap.innerHTML + "<br><br><select name = 'relations'\
          class = 'adv_rel' onchange = 'swap_col(this)'> \
          {% for opt in opts[2][each]%} <option value = {{opt}}> \
          {% if '_' in opt %} {{(opt|replace('_',' '))|title}} \
          {% else %}{{opt|title}} {% endif %}</option> {% endfor %}</select> \
          <select name = 'col' class = 'adv_col'> {% set e = opts[2][each] %} \
          {% for r in e %} {% for c in e[r] %} <option value = '{{c[0]}}'> \
          {% if '_' in c[0] %}{{(c[0]|replace('_',' '))|title}} \
          {% else %}{{c[0]|title}} {% endif %} </option> {% endfor %} \
          {% endfor %} </select> \
          <input type = 'search' class = 'search' name = 'want' placeholder = 'Search...'>";
        }
      {% endfor %}
    }
    function swap_rel(ent) {
      var swap = document.getElementById("requests");
      {% for each in opts[2] %}
        if ("{{each}}" == ent) {
          swap.innerHTML = "<div><select name = 'relations' class = 'adv_rel' \
          onchange = 'swap_col(this)'> {% for opt in opts[2][each]%} \
          <option value = {{opt}}> {% if '_' in opt %} \
          {{(opt|replace('_',' '))|title}} {% else %}{{opt|title}} \
          {% endif %}</option> {% endfor %}</select> \
          <select name = 'col' class = 'adv_col'> {% set e = opts[2][each] %} \
          {% for r in e %} {% for c in e[r] %} <option value = '{{c[0]}}'> \
          {% if '_' in c[0] %}{{(c[0]|replace('_',' '))|title}} \
          {% else %}{{c[0]|title}} {% endif %} </option> {% endfor %} \
          {% endfor %} </select> \
          <input type = 'search' class = 'search' name = 'want' placeholder = 'Search...'> \
          <div>";
        }
      {% endfor %}
    } 
    function swap_col(rel) {
      var ent = document.getElementById("adv_ent").value;
      var swap = rel.nextElementSibling;
      {% for each in opts[2] %}
          if ("{{each}}" == ent) {
            {% for next in opts[2][each] %}
              if ("{{next}}" == rel.value) {
                swap.innerHTML = "{% set e = opts[2][each] %} \
                {% for c in e[next] %} <option value = '{{c[0]}}'> \
                {% if '_' in c[0] %}{{(c[0]|replace('_',' '))|title}} \
                {% else %}{{c[0]|title}} {% endif %} </option> {% endfor %}";
              }
            {% endfor %}
          }
      {% endfor %}
    }
    </script>

    <!-- opts = [toggle, entities, relations] -->
    <!-- relations = {entity: {related tables: colnames, ...},...} -->
    <body onload = "{{opts[0]}}">
        <h1> Pokemon Database: Gen 1 Kanto </h1>
            <form method = "POST" action = "/results/" id = "myq"> </form>
            <h3> Query Box </h3>
            Table: <input type = "search" class = "search" name = "h" form = "myq">
            <br> <textarea rows="8" cols="75" form = "myq" name = "query"></textarea>
            <br> <input type = "submit" form = "myq" value = "Find"> <br><br>
        <div id = "simple">
            <h3> Simple Search </h3>
            <p> <form method = "POST" action = "/simple/results/">
                <b>What are you looking for?</b> <br><br>
                <select name = "entity">
                {% for opt in opts[1]%}
                    <option value = "{{opt}}">
                    {% if '_' in opt %}{{(opt|replace('_',' '))|title}}
                    {% else %}{{opt|title}}
                    {% endif %}
                    </option>
                {% endfor %}
                </select>
                <input type = "search" class = "search" name = "name" placeholder = "Search...">
                <input type = "submit" value = "Find">
           </form></p>
           <button onclick = "toggle_sa()"> Advanced Search </button>
        </div>

        <div id = "advanced">
            <h3> Advanced Search </h3>
            <p> <form method = "POST" action = "/advanced/results/" id = "advsearch">
                <b>What are you looking for?</b> <br><br>
                <select id = "adv_ent" name = "entity" onchange = "swap_rel(this.value)">
                {% for opt in opts[1]%}
                    <option value = "{{opt}}">
                    {% if '_' in opt %}{{(opt|replace('_',' '))|title}}
                    {% else %}{{opt|title}}
                    {% endif %}
                    </option>
                {% endfor %}
                </select>
                <p id = "requests">
                    <select name = "relations" class = "adv_rel" onchange = "swap_col(this)">
                    <!-- for related tables of entity chosen -->
                    {% for opt in opts[2][opts[1][0]] %}
                    <!-- select one of the related tables, opt -->
                        <option value = "{{opt}}">
                        {% if '_' in opt %}{{(opt|replace('_',' '))|title}}
                        {% else %}{{opt|title}}
                        {% endif %}
                        </option>
                    {% endfor %}
                    </select>
                    <!-- for each related opt, select one of the columns, c -->
                    <select name = "col" class = "adv_col">
                    {% set e = opts[2][opts[1][0]] %} <!-- e = entity -->
                    {% for r in e %} <!-- for each related table -->
                        {% for c in e[r] %}
                            <option value = "{{c[0]}}">
                            {% if '_' in c[0] %}{{(c[0]|replace('_',' '))|title}}
                            {% else %}{{c[0]|title}}
                            {% endif %}
                            </option>
                        {% endfor %}
                    {% endfor %}
                    </select>
                <input type = "search" class = "search" name = "want" placeholder = "Search...">
                </p>
            </form>
            <button onclick = "add()">Add</button>
            <input type = "submit" value = "Find" form = "advsearch"> </p>
            <button onclick = "toggle_as()"> Simple Search </button>
        </div>
    </body>
</html>
