<!DOCTYPE html>
<html>
	<title> Pokemon Search </title>
	<style>
	html{
		width: 50%;
		margin: auto;
		font-family: times;
	}
	body{
		font-size: 15px;
	}
	</style>

	<script>
	function toggle_sa() {
		var s = document.getElementById("simple");
		var a = document.getElementById("advanced");
		s.style.display = 'none';
		a.style.display = 'block';
	}
   	function toggle_as() {
		var s = document.getElementById("simple");
           var a = document.getElementById("advanced");
		s.style.display = 'block';
        		a.style.display = 'none';
	}
	function add() {
      		var ent = document.getElementById("adv_ent").value;
		var swap = document.getElementById("requests");
		{% for each in opts[2] %}
		        if ("{{each}}" == ent) {
			        swap.innerHTML = swap.innerHTML + "<br><br><select name = 'relations'> {% for opt in opts[2][each]%} <option value = {{opt}}> {% if '_' in opt %} {{(opt|replace('_',' '))|title}} {% else %}{{opt|title}} {% endif %}</option> {% endfor %}</select> <select name = 'col' id = 'adv_col'> {% set e = opts[2][each] %} {% for r in e %} {% for c in e[r] %} <option value = '{{c[0]}}'> {% if '_' in c[0] %}{{(c[0]|replace('_',' '))|title}} {% else %}{{c[0]|title}} {% endif %} </option> {% endfor %} {% endfor %} </select> <input type = 'search' class = 'search' name = 'want' placeholder = 'Search...'>";
        		}
		{% endfor %}
	}
	function swap_rel() {
      		var ent = document.getElementById("adv_ent").value;
		var swap = document.getElementById("requests");
		{% for each in opts[2] %}
		        if ("{{each}}" == ent) {
			        swap.innerHTML = "<select name = 'relations'> {% for opt in opts[2][each]%} <option value = {{opt}}> {% if '_' in opt %} {{(opt|replace('_',' '))|title}} {% else %}{{opt|title}} {% endif %}</option> {% endfor %}</select> <select name = 'col' id = 'adv_col'> {% set e = opts[2][each] %} {% for r in e %} {% for c in e[r] %} <option value = '{{c[0]}}'> {% if '_' in c[0] %}{{(c[0]|replace('_',' '))|title}} {% else %}{{c[0]|title}} {% endif %} </option> {% endfor %} {% endfor %} </select> <input type = 'search' class = 'search' name = 'want' placeholder = 'Search...'>";
        		}
		{% endfor %}
	}

	function swap_col() {
		var ent = document.getElementById("adv_ent").value;
	        var rel = document.getElementById("adv_rel").value;
	        var swap = document.getElementById("adv_col");
	        {% for each in opts[2] %}
          		if ("{{each}}" == ent) {
		        {% for next in opts[2][each] %}
              			if ("{{next}}" == rel) {
			                swap.innerHTML = "{% set e = opts[2][each] %} {% for c in e[next] %} <option value = '{{c[0]}}'> {% if '_' in c[0] %}{{(c[0]|replace('_',' '))|title}} {% else %}{{c[0]|title}} {% endif %} </option> {% endfor %}";
              }
	                {% endfor %}
         		}
	        {% endfor %}
    	}
	</script>

	<body onload = "{{opts[0]}}">
	<h1> Pokemon Database </h1>
	<div id = "simple">
	<h3> Simple Search </h3>
	<p> 
	<form method = "POST" action = "/simple/results/">
	<b>What are you looking for?</b> <br><br>
	<select name = "entity">
	{% for opt in opts[1]%}
		<option value = "{{opt}}">
        	{% if '_' in opt %}{{(opt|replace('_',' '))|title}}
	        {% else %}{{opt|title}}
        	{% endif %}
	        </option>
        {% endfor %}
	</select>
	<input type = "search" name = "name" placeholder = "Search...">
	<input type = "submit" value = "Find">
	</form>
	</p>
	<button onclick = "toggle_sa()"> Advanced Search </button>
	</div>

	<div id = "advanced">
	<h3> Advanced Search </h3>
	<p> 
	<form method = "POST" action = "/advanced/results/" id = "advsearch">
	<b>What are you looking for?</b> <br><br>
	<select ud = "adv_ent" name = "entity" onchange = "swap_rel()">
	{% for opt in opts[1]%}
		<option value = "{{opt}}">
        	{% if '_' in opt %}{{(opt|replace('_',' '))|title}}
        	{% else %}{{opt|title}}
	        {% endif %}
        	</option>
	{% endfor %}
	</select>
	<p id = "requests">
	<select name = "relations" id = "adv_rel" onchange = "swap_col()">
		<!-- for related tables of entity chosen -->
	{% for opt in opts[2][opts[1][0] %}
	<!-- select one of the related tables, opt = name of related table -->
		<option value = "{{opt[n]}}">
	        {% if '_' in opt[n] %}{{(opt[n]|replace('_',' '))|title}}
		{% else %}{{opt[n]|title}}
		{% endif %}
		</option>
	{% endfor %}
	</select>
	<select name = "col" id = "adv_col">
	<!-- for each related table, select one of the columns c -->
	{% set e = opts[2][opts[1][0]] %}
	{% for r in e %}
		{% for c in e[r] %}
			<option value = "{{c[0]}}">
	                {% if '_' in c[0] %}{{(c[0]|replace('_',' '))|title}}
                        {% else %}{{c[0]|title}}
                        {% endif %}
                        </option>
                {% endfor %}
        {% endfor %}
        </select>		
	<input type = "search" class = "search" name = "want[]" placeholder = "Search...">
	</p>
	</form>
	<button onclick = "add()">Add</button>
	<input type = "submit" value = "Find">
	</p>
	<button onclick = "toggle_as()"> Simple Search </button>
	</div>

	</body>

</html>
